
## <summary>policy for cmusicai</summary>


########################################
## <summary>
##	Transition to cmusicai.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`cmusicai_domtrans',`
	gen_require(`
		type cmusicai_t, cmusicai_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, cmusicai_exec_t, cmusicai_t)
')


########################################
## <summary>
##	Execute cmusicai server in the cmusicai domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cmusicai_initrc_domtrans',`
	gen_require(`
		type cmusicai_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, cmusicai_initrc_exec_t)
')


########################################
## <summary>
##	Search cmusicai lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cmusicai_search_lib',`
	gen_require(`
		type cmusicai_var_lib_t;
	')

	allow $1 cmusicai_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read cmusicai lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cmusicai_read_lib_files',`
	gen_require(`
		type cmusicai_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, cmusicai_var_lib_t, cmusicai_var_lib_t)
')

########################################
## <summary>
##	Manage cmusicai lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cmusicai_manage_lib_files',`
	gen_require(`
		type cmusicai_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, cmusicai_var_lib_t, cmusicai_var_lib_t)
')

########################################
## <summary>
##	Manage cmusicai lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`cmusicai_manage_lib_dirs',`
	gen_require(`
		type cmusicai_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, cmusicai_var_lib_t, cmusicai_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a cmusicai environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`cmusicai_admin',`
	gen_require(`
		type cmusicai_t;
		type cmusicai_initrc_exec_t;
		type cmusicai_var_lib_t;
	')

	allow $1 cmusicai_t:process { ptrace signal_perms };
	ps_process_pattern($1, cmusicai_t)

	cmusicai_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 cmusicai_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, cmusicai_var_lib_t)

')

